

   
      <div class="img-1">
           <img src="/1.jpg" alt="">
      <center> 
  <div class="gallery">
<h1>{{myData.name}}</h1>

        {{#with myData.aboutme}}
        <p><span>Full Name:</span><span>{{FullName}}</span></p>
        <p><span> Phone:</span><span>{{Phone}}</span></p>
        <p><span> Email:</span><span>{{Email}}</span></p>
        <p><span>Address:</span><span>{{Address}}</span></p>
        
            {{/with}}
            </div>
</center>
